<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/home.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav class="navbar">
    <span class="navbar-logo">Skateboard Shop</span>
    <div class="navbar-heading">
    <button type="submit" class="navbar-action">Register</button>
    <button type="submit" class="navbar-action">Log In</button>
    <button type="submit" class="navbar-action">Log Out</button>
    <button type="submit" class="navbar-favourite">My Favourites</button>
  </div>
  </nav>
<br>
  <div class="header-main">
    <header class="header">
      <div class="header-image">
          <img src="/midterm/images/header.png"/>
      </div>
      <br>
      <div class="header-name">
          <h2>One Stop Shop</h2>
      </div>
  </header>
<br>
  <div class="body-title">
  <h1>Products</h1>
</div>
</body>

</html>
