<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Postings</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/mypostings.css" />
  <link rel="stylesheet" href="/styles/productboxes.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <nav class="navbar">
    <span class="navbar-logo">Skateboard Shop</span>
    <div class="navbar-heading">
      <button type="submit" class="navbar-favourite">My Favourites</button>
    <button type="submit" class="navbar-action">Register</button>
    <button type="submit" class="navbar-action">Log In</button>
    <button type="submit" class="navbar-action">Log Out</button>
  </div>
  </nav>

  <div class="body-postings">
  <h1>My Postings</h1>
  <div class="listing-section">
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-1"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Skateboard</h2>
        <h3 class="price">$49.99</h3>
        <p class="description">A brand new complete deck</p>
        <button type="button" name="item-1-button" id="item-1-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-2"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Apple</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">A bag of delicious apples!</p>
        <button type="button" name="item-2-button" id="item-2-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-3"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Passionfruit</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">A bag of delicious passionfruit!</p>
        <button type="button" name="item-3-button" id="item-3-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-4"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Pineapple</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">A bag of delicious pineapples!</p>
        <button type="button" name="item-4-button" id="item-4-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-5"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Mango</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">A bag of delicious mangos!</p>
        <button type="button" name="item-5-button" id="item-5-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-6"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Coconut</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">A bag of delicious coconuts!</p>
        <button type="button" name="item-6-button" id="item-6-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-7"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Banana</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">A bag of delicious bananas!</p>
        <button type="button" name="item-7-button" id="item-7-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-8"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Plum</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">A bag of delicious plums!</p>

        <button type="button" name="item-8-button" id="item-8-button">Message Seller</button>
      </div>
    </div>
    <div class="product">
      <div class="image-box">
        <div class="images" id="image-9"></div>
      </div>
</div>


</body>

</html>
