<nav class="navbar">
  <span class="navbar-logo">Skateboard Shop</span>
  <div class="navbar-heading">
    <span class="navbar-buttons">
      <% if(userId){ %>
        <% if (email) { %>
        <a class="nav-item nav-link"><%= email %></a>
        <% } %>
    <div class="navbutton">
      <a href="/">Home</a>
      <a href="favourites">My Favourites</a>
      <a href="postings">My Postings</a>
      <form method="POST" action="/logout">
        <button type="submit"> Log Out</button>
      </form>
      <% } else { %>
        <a class="login" href="/login">
          <button type="submit">Go to Login</button>
        </a>
        <a class="register" href="/register">
          <button type="submit">Create an account</button>
        </a>
        <% } %>
    </div>
  </div>
</nav>
