<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Posting</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <h1>New Posting</h1>

  <form method="POST" action="/postings/new">
    <h4>Enter your user ID</h4>
    <input type="text" name="sellerid">
    <h4>Enter posting title</h4>
    <input type="text" name="title">
    <h4>Enter description</h4>
    <input type="text" name="desc">
    <h4>Enter photo URL</h4>
    <input type="text" name="photourl">
    <h4>Enter price</h4>
    <input type="text" name="price">
    <h4>Condition of item</h4>
    <input type="text" name="condition">
    <br>
    <button type="submit">
      Add posting
    </button>
  </form>

  <!-- <button id="fetch-users">New Posting</button>
  <ul id="users"></ul> -->
</body>

</html>
