<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Posting</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/newposting.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <nav class="navbar">
    <span class="navbar-logo">Skateboard Shop</span>
    <div class="navbar-heading">
      <div class="navbutton">
        <a href="/">Home</a>
        <a href="register">Register</a>
        <a href="login">Log In</a>
        <a href="favourites">My Favourites</a>
        <a href="postings">My Postings</a>
        <!-- Need to fix log out button to only show when logged in -->
        <a href="login">Log Out</a>
  </div>
</div>
  </nav>

  <div class="body-title">
  <h1>New Posting</h1>
  </div>

<div class="body-new">
  <form method="POST" action="/postings/new">
    <h4>Enter your user ID</h4>
    <input type="text" name="sellerid">
    <h4>Enter posting title</h4>
    <input type="text" name="title">
    <h4>Enter description</h4>
    <input type="text" name="desc">
    <h4>Enter photo URL</h4>
    <input type="text" name="photourl">
    <h4>Enter price</h4>
    <input type="text" name="price">
    <h4>Condition of item</h4>
    <input type="text" name="condition">
    <br>

    <div class="button-submit">
    <button type="submit">
      Add posting
    </button>
    </div>

  </form>
</div>

  <!-- <button id="fetch-users">New Posting</button>
  <ul id="users"></ul> -->
</body>

</html>
