.header-main {
  margin-top: 100px;
  background-color: rgb(208, 207, 207);
  background-image: url("/images/headerbackground.png");
  width: 100vw;
  height: 160px

}

.header-name {
  font-family: monospace;
  text-transform: capitalize;
  text-align: center;
}
