.header-main {
  margin-top: 120px;
  background-image: url("/images/headerbackground.png");
  width: 100vw;
  height: 175px

}

.header-name h2{
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 1px 2px 2px #ffffff;

  margin-top: 75px;
  margin-left: 75px;
}
